.pos-view-order {
    width: 680px;
    height: 100vh;
}


.btn-calculator {
    background-color: rgb(232, 255, 248);
    border: 0.4px solid silver;

    padding: 20px 25px;
    transition-duration: 0.2s;
}

.btn-calculator:hover {
    background-color: rgb(192, 192, 192);
}

.btn-category {
    padding: 10px;
    width: 150px;
    height: 90px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.1s;
}

.btn-category:hover {
    padding: 10px;
    width: 150px;
    height: 90px;
    background: rgb(129, 65, 7);
    background: linear-gradient(0deg, rgb(163, 83, 9) 0%, rgba(203, 86, 0, 1) 100%);
    border: 1px solid rgb(215, 79, 6);
    color: rgb(233, 233, 233);
    border-radius: 5px;
}

/* .item {
    width: 90%;
} */



.pos {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.order {
    /* background-color: rgba(41, 40, 40, 0.4); */
    backdrop-filter: blur(2px);
}

.pos-info {
    height: 100vh;
    overflow: scroll;
}


.img-btn {
    max-height: 50px;
}

.img-btn:hover {
    transform: scale(1.1);
}

.card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}



.card-product {
    transition-duration: 0.3s;
    cursor: pointer;
    border: 1px solid rgb(76, 76, 76);
    background: rgba(18, 18, 18, 0.7);
    padding: 10px;
    backdrop-filter: blur(0.4px);
}

.text-product {
    color: rgb(245, 164, 44);
}

.text-des {
    color: rgb(183, 183, 183);
}

.text-green {
    color: rgb(24, 185, 24);
}

.card-product-light {
    background: white;
    cursor: pointer;
}

.card-product:hover {
    border: 1px solid rgb(113, 113, 113);
    box-shadow: rgba(185, 185, 185, 0.2) 0px 2px 8px 0px;
}

.card-product-light:hover {
    box-shadow: rgba(185, 185, 185, 0.2) 0px 2px 8px 0px;
}

.bg {
    z-index: -1;
    background-color: rgb(12, 12, 12);
    /* background-image: url('https://img.freepik.com/free-photo/brown-wooden-textured-flooring-background_53876-101851.jpg?t=st=1729937952~exp=1729941552~hmac=79844a72cc7841deb1a99a4209b10d28d022acfc8ee28f1a0c597352a3bc3544&w=2000'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-shop {
    background: white;
    color: rgb(42, 102, 220);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-size: 10px;
    transition-duration: 0.3s;
    /* border: 1px solid rgb(42, 102, 220); */
}

.btn-shop:hover {
    background: rgb(42, 102, 220);
    color: white;
}

input:focus {
    outline-width: 0;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0, 7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.img-pos-order {
    max-width: 120px;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.small-i {
    font-size: 13px;
    background: rgb(248, 118, 26);
    color: white;
    padding: 8px;
    padding: 6px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.bg-sliver {
    background-color: aliceblue;
}

.bg-orange {
    background: rgb(248, 118, 26);
    color: rgb(225, 225, 225);
}

.color-orange {
    background: rgb(248, 118, 26);
}

.btn-orange {
    background: rgb(248, 118, 26);
    color: rgb(255, 255, 255);
    transition-duration: 0.2s;
}

.btn-orange:hover {
    background: rgb(211, 96, 15);
    color: white;
}

.bg-none {
    background: none;
}

.hover-zoom {
    transition-duration: 0.3s;
}

.hover-zoom:hover {
    transform: scale(1.2);
}

.btn-yellow {
    border: 1px solid coral;
    color: rgb(245, 103, 51);
}

.btn-yellow:hover {
    border: 1px solid rgb(237, 97, 46);
    color: rgb(237, 97, 46);
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}




.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.hover-opacity {
    opacity: 0.0;
    background: none;
    transition: 0.3s;
}

.hover-opacity:hover {
    background: rgba(106, 190, 205, 0.1);
    opacity: 1;
}

.text-purple {
    color: rgb(114, 76, 62);
}

.bg-blur-dark {
    background: rgb(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}


.bg-blur-light {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(30px);
}



.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns, each taking equal width */
    /* Space between buttons */
    width: 100%;
    /* Grid width 100% */
}

.btn-grid {
    font-size: 16px;
    height: 70px;
    /* Button background color */
    color: rgb(40, 40, 40);
    background: white;
    /* Button text color */
    border: 0.5px solid silver;
    padding: 25px 20px;
    /* Rounded corners */
    cursor: pointer;
}

.btn-order {
    width: 100%;
    border: none;
    background: #45726c;
    transition: 0.2s;
}

.btn-order:hover {
    width: 100%;
    border: none;
    background: #619b93;

}

.btn-pay {
    width: 100%;
    border: none;
    background: cadetblue;
    transition: 0.2s;
}

.btn-pay:hover {
    width: 100%;
    border: none;
    background: rgb(50, 93, 95);
}

.btn-grid:hover {
    background-color: #e9e9e9;
    /* Darker background on hover */
}

.pos-menu {
    /* background: yellowgreen; */
    width: 90px;
    display: block;
    height: 100vh;
    overflow: hidden;
    padding: 4px;
}

.navbar-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 3px;
}



.button-pos-category {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 100%;
    border: none;
    color: white;
    transition: 0.2s;
    border-radius: 10px;
}

.category {
    height: 80px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    color: rgb(99, 99, 99);
    width: 250px;
    border-radius: 5px;
}

.category:hover {
    text-overflow: clip;
    background: #fffcf8;
    border: 1px solid rgb(255, 157, 19);
    color: rgb(52, 52, 52);
    width: 250px;
}

.h-10 {
    height: 10%;
}

.h-40 {
    height: 40%;
}

.h-55 {
    height: 55%;
}

.h-45 {
    height: 45%;
}

.h-60 {
    height: 60%;
}

.h-20 {
    height: 20%;
}

.h-90 {
    height: 90%;
}

.h-80 {
    height: 80%;
}

.active-category {
    text-overflow: clip;
    background: #fffcf8;
    border: 1px solid rgb(255, 157, 19);
    color: rgb(52, 52, 52);
    width: 250px;
}


/* menu  search */
.pos-nav {
    background: #fefcff;
    border-radius: 10px;
    padding: 15px 3px;
    height: 100%;
}

.button-pos-menu {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    transition: 0.2s;
    border-radius: 20px;
}

.button-pos-menu.menu-button {
    background: #ffffff;
    color: #1b304b;
    font-size: 20px;
}

.button-pos-menu.menu-button:hover {
    border-radius: 40px;
    background: #1b508d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(229, 229, 229);

}

.button-pos-menu.active-button {
    font-size: 20px;
    border-radius: 40px;
    background: #1b508d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(229, 229, 229);
}

.hold-order {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #435d77;
    font-size: 18px;
    font-weight: 200;
}

.hold-order:hover {
    background: #2c5c56;
}

.pay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #57873e;
    font-size: 18px;
    font-weight: 200;
}

.pay:hover {
    background: rgb(57, 92, 75);
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    font-size: 18px;
    border: 0.3px solid rgb(106, 121, 129);
    background: #3d5973;
    width: 100%;
    height: 80px;
}

.calculator:hover {
    background: #233b51;
}

.pos {
    background: rgb(247, 247, 247);
}

.product-hover {
    background: white;
    transition-duration: 0.2s;
}

.product-hover:hover {
    transform: translateY(-2px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}