.menu {
    /* height: 10vh; */
    position: sticky;
    top: 0;
    padding: 10px 4px;
    width: 100%;

}

.active-link {
    display: flex;
    font-size: 18px;
    justify-content: start;
    align-items: center;
    color: var(--app-gray-text);
    margin: 7px 0px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
    text-decoration: none;
    margin: 0px 4px;
    font-weight: 400;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0.5px solid rgb(255, 235, 242);
    background-color: var(--app-background);
    border-radius: 10px;
}

.active-link:hover {
    color: black;
}

.menu-item {

    display: flex;
    font-size: 18px;
    justify-content: start;
    align-items: center;
    color: var(--app-gray-text);
    margin: 7px 0px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
    text-decoration: none;
    margin: 0px 4px;
    font-weight: 400;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0.5px solid white;

}

.menu-item:hover {
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: var(--app-background);
    border: 0.5px solid rgb(255, 235, 242);
}

.menu-title {
    color: var(--app-dark-text);
    cursor: pointer;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}



/* .m-link {
    height: 150px;
    border: 1px solid coral;
    padding: 15px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: rgb(228, 18, 18);
    transition: 0.2s;
    text-decoration: none;
    border-radius: 4px;
} */



.bg-orange {
    background: rgb(235, 116, 52);
    color: aliceblue;

}

/* .menu-title {
    padding: 10px;
    display: flex;
    font-size: 12px;
    justify-content: start;
    align-items: center;
    color: silver;
    margin: 7px 0px;
} */

.btn-box {
    width: 100%;
    height: 75px;
    padding: 10px 7px;
    background: white;
    color: rgb(45, 45, 45);
}



/* Smooth dropdown animation */
.submenu {
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    max-height: 0;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
}

.submenu.expanded {
    max-height: 500px;
    /* Adjust to fit content */
    opacity: 1;
}

/* Icon animation */
.menu-toggle-icon {
    display: inline-block;
    transition: transform 0.3s ease;
}

.menu-toggle-icon.expanded {
    transform: rotate(180deg);
}